.procedural_widget {
  border: 1pt solid #ccddff;
  border-radius: 8pt;
  padding: 8pt;
  margin: 6pt;
  font-size: larger;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.procedural_widget .code_bucket {
  border: 1pt solid #aaaaaa;
  border-radius: 6pt;
  padding: 6pt;
  margin: 5pt;
  background-color: #eeeeee;
}

.procedural_widget .code_bucket .bucket_title {
  font-size: larger;
  font-weight: bold;
  font-family: sans-serif;
}

.procedural_widget .code_block, .procedural_widget .code_slot {
  border: 1pt solid red; /* color will be changed */
  border-radius: 4pt;
  padding: 4pt;
  margin: 3pt;
  font-family: monospace;
  white-space: pre;
  overflow-x: auto;
  box-sizing: border-box;
}

.procedural_widget .code_block {
  border-color: #113388;
  background-color: white; /*#ccddff;*/
  color: #113388;
  cursor: move;
}

.procedural_widget .code_slot {
  border-color: #4488cc;
  background-color: #ddeeff;
  color: #113388;
  height: 16pt;
}

.procedural_widget .code_block.hovered {
  background-color: #aaccff;
}

.procedural_widget .code_slot.hovered {
  background-color: #ccddff;
}

.procedural_widget .code_block.hovered, .procedural_widget .code_slot.hovered {
  border-width: 2pt;
  padding: 3pt;
  margin-bottom: 12pt; /* demonstrate where element would go */
}

.procedural_widget .code_block.error {
  border-color: #880000;
}
